.button {
  margin-top: 64px;
  height: 50px;
  padding: 0 32px;
  border-radius: 8px;
  border: 0;
  background: #835afd;

  font-weight: 500;
  color: #fff;

  cursor: pointer;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}